* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10131c;
}

.navigation {
    position: relative;
    width: 70px;
    height: 70px;
    background: #212532;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    transition-delay: 0.3s;
}

.navigation.active {
    width: 240px;
    height: 240px;
    border-radius:35px;
    transition-delay: 0s;
}

.navigation span {
    position: absolute;
    width: 7px;
    height: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    transform: translate(calc(15px * var(--x)), calc(15px * var(--y)));
    transition: transform 0.5s,width 0.4s,height 0.4s,background 0.5s;
    transition-delay: calc(0.07s * var(--i));
}

.navigation.active span {
    width: 56px;
    height: 56px;
    background: #333849;
    transform: translate(calc(70px * var(--x)), calc(70px * var(--y)));
}

.navigation span ion-icon {
    width: 0px
}

.navigation.active span ion-icon {
    width: 24px;
    height: 24px;
    color: #fff;
}

.navigation.active span:hover ion-icon {
    color: rgba(0, 255, 255, 0.87);
    filter: drop-shadow(0 0 0.5px rgb(0, 204, 204)) drop-shadow(0 0 1.5px rgb(0, 204, 204));
}
